body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1 {
    margin: 0;
    padding: 5px 0;
    background-color: #6899d3;
}

h2 {
    border-bottom: 1px solid #04346c;
}

table {
    margin: 0;
    padding: 0;
}

#content-pane {
    position: absolute;
    left:  10%;
    top:    0%;
    width: 80%;
}

<!--
Font family recommendations from http://kv5r.com/articles/dev/font-family.asp
-->

.serif {
    font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
}

.sans {
    font-family:Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
}

tt {
font-family:Consolas,'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
}

