body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1 {
    margin: 0;
    color: white;
    background-color: #5576cd;
}

h2 {
    border-bottom: 1px solid #04346c;
}

#headshot {
    max-width: 50%;
    width: 5in;
    height: auto;
}

table {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    padding-right: 1em;
}

td:last-child {
    padding-right: 0;
}

.publications td {
    padding-bottom: 1em;
}

#content-pane {
    position: absolute;
    left:  10%;
    top:    0%;
    width: 80%;
}

<!--
Font family recommendations from http://kv5r.com/articles/dev/font-family.asp
-->

.serif {
    font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
}

.sans {
    font-family:Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
}

tt {
font-family:Consolas,'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
}

